.sliderContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
    overscroll-behavior: none;
    overflow: hidden;


}

.slider{
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1;
    overflow: hidden;
    background-color: rgb(234, 234, 234);
    border-radius: 5px;
}